 *{
    margin:0;
    padding: 0;
    font-family: sans-serif;
} 
.banner{
    width: 100%;
    height: 100vh;
    background-image:url(4758.jpg);
    background-size: cover;
    background-position: center;
}

.navbar{
    width: 100%;
    margin: auto;
    padding: 10px 0;
    display: flex;
    align-items: center;
    
}
.bar{
    margin-left: 60%;
}
.logo{
    width: 35px;
    cursor: pointer;
    margin-left: 40px;
}
.navbar a{
    list-style: none;
    display: inline-block;
    margin:15px;
    position: relative;
}
 .navbar a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
} 
.navbar a::after{
    content: '';
    height: 3px;
    width: 0;
    background: #ffffff;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar a:hover::after{
    width: 100%;
} 
.row{
	display: flex;
	align-items:center;
	flex-wrap: wrap;
	justify-content:space-around;
}	
.categories{
   margin: 70px 0; 
}
.col-3{
   flex-basis: 30%;
   min-width: 200px;
   margin-bottom: 20px;    
}
.col-3 img{
    width: 90%;
} 
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title::after{
    content: '';
    background: #02032e;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}
h4{
   color: rgb(0, 0, 0);
   font-weight: normal; 
   
}

.col-4 p{
    font-size: 14px;
}
.col-4:hover{
    transform: translateY(-5px);
}


/*-----footer-----*/
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px ;
}
.footer-col-1,.footer-col-2{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex: basis 30%; ;
}
.footer-col-2{
    flex: basis 30%; 
}
.footer-col-3{
    flex: 30%; 
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding: right 25px; 
    
}

.vanner{
    
    background:rgb(58, 58, 58);
    background-size: cover;
    background-position: center;
}

.navbar1{
    width: 100%;
    margin: auto;
    padding: 10px 0;
    display: flex;
    align-items: center;
    
}
.bar1{
    margin-left: 60%;
}
.navbar1 a{
    list-style: none;
    display: inline-block;
    margin:15px;
    position: relative;
}
 .navbar1 a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
} 
.navbar1 a::after{
    content: '';
    height: 3px;
    width: 0;
    background: #ffffff;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar1 a:hover::after{
    width: 100%;
} 

.button{
    width: 200px;
    padding: 5px 0;
    text-align: center;
    margin: 20px 100px;
    font-weight: bold;
    background-color: rgb(143, 143, 143);
    color: rgb(2, 2, 2);
   
}

/*----cart item------*/
.cart-page{
    margin: 80px auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 5px;
    color: rgb(255, 255, 255);
    background: #000000;
    font-weight: normal;

}
td{
    padding: 10px 5px;
}
td a{
    color: #696969;
    font-size: 14px
} 
td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

/*admin*/
